h1{
  text-align: center;
  text-transform: capitalize;
}
h2{
  box-shadow: 0cqmax;
  border-radius: 2px;
  padding: 5px;
  background: linear-gradient(45deg, #4caf50, #8bc34a);
  /* width: 90vw; */
  /* text-align: center; */
} 
p{
  color: rgba(31, 31, 1, 0.904);
  /* padding-top: 10px; */
  /* background-color: blueviolet; */
}

.parent{
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100vw;
  padding: 20px;
  gap: 50px;
}

.card{
  margin-top: 10px;
  width: 25vw;
  background-color:white;
  color: black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.25);
   transform: translateY(20px);

  /* display: flex; */
  /* height: 40vh; */
} 