h1{
  /* text-align: center; */
  text-transform: capitalize;
  /* width: 100vw; */
}
h2{
  box-shadow: 0cqmax;
  border-radius: 2px;
  padding: 5px;
  color: #ffffff;
  background: linear-gradient(45deg, #070707, #000000);
 
}  */
button{
  padding-bottom: 20px;
  /* width: 100vw; */
}
.parent{
  display:flex;
  justify-content: center;
  /* place-items: center; */
  text-align: center;
  align-items: center;
  width: 100vw;
  min-height: 35vh;
  
}
p{
  color: rgba(6, 6, 6, 0.904);
  /* padding-top: 10px; */
  /* background-color: blueviolet; */
}



.card{
  /* margin-top: 10px; */
  width: 30vw;
  /* padding-bottom: 10px; */
  background-color:white;
  color: black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.25);
   transform: translateY(20px);
text-align: center;
gap: 20px;
  /* display: flex; */
  /* height: 40vh; */
} 
table, th, td {
   border-radius: 3px;
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
}
th, td {
  padding: 3px;

}
th{
  background-color: #060606;
  color: rgb(255, 255, 255);
  border: 2px;
 
}
 table{
  width: 30vw;
} 

input {
  border-radius: 6px;
  background-color: white;
  /* width: 20vw; */
   width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);

}
input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.5;
}

input:focus {
  border-color: #2563eb; /* blue */
  box-shadow: 0 0 4px #2563eb;
}
